.list{list-style-type: none;}
.add{
    font-style: normal;
    color: #434455;
}
body {
    color: #434455;  
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;}
a{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
h1 {color: red}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}