.list{list-style-type: none;}
.add{
    font-style: normal;
    color: #434455;
}
body {
    color: #434455;  
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;}
a{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
a:hover{color: #404bbf}
}

.stud{color: #2e2f42}
.adres{font-style: normal}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.sect-f{
    background-color:#2e2f42;

}
.nazv{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.but{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.but:hover{
    background:#404BBF;
}